@import url("https://fonts.googleapis.com/css2?family=Gajraj+One&family=Russo+One&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gajraj One", serif;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

header {
  color: "#1d1d1d";
  text-align: center;
  padding: 0px 0;
}

header h1 {
  margin: 0;
  font-size: 4rem;
  font-weight: 600;
}

nav {
  text-align: center;
  margin-top: 0px;
  background-color: #4f4f4f;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 10px 15px;
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #9a9a9a;
  font-size: 1.2rem;
  padding: 10px 20px;
  transition: 0.3s ease;
}

nav ul li a:hover {
  color: #fafafa;
  border-bottom: 2px solid #fafafa;
}

#canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw; /* Full width */
  height: 800; /* Almost full page height */
  background-color: #1d1d1d;
}

/* Responsive Styles */
@media (max-width: 600px) {
  header h1 {
    font-size: 2rem;
  }

  nav ul li {
    display: block;
    margin: 10px 0;
  }

  nav ul li a {
    padding: 12px;
    font-size: 1rem;
  }
}
